h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 28;
    color: black;
    margin-left: 200px;
}

#prog_langs{
    list-style-type: lower-roman;
}

#my_git_frame {
    height: 500px;
    width: 100%;
}

#git_main {
    color: red;
    background-color: lightgreen;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
}

#git_main:hover, #git_main:active {
    background-color: black;
}

body {
    background-color: lightgray;
}

#my_pic {
    width: 200px;
    height: 150px;
    transform: rotate(90deg);
    margin-top: 20px;
    margin-left: 200px
}

#introductory_text {
    margin-left: 10px;
    margin-top: 50px;
    width: 600px;
    background-color: lightblue;
    border: 3px solid black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15;
    color: black;
}